
<div class="container">
<h1 class="text-success" >Blog Information</h1><br><br>
<h4> Blog Name:</h4>
<p> <%=@blogs.name%></p>
<h4> Blog Detail:</h4>
<p> <%=@blogs.content%></p>
<h4>Blog Author</h4>
<%= @blogs.user.name%>

</div>



